version: "3.8"

services:
  app:
    build:
      context: .
      args:
        PORT: ${PORT} # ส่งค่า PORT จาก .env
    container_name: express-app
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    restart: unless-stopped
