version: "3.8"

services:
  app:
    build:
      context: .
      args:
        PORT: ${PORT} # ส่งค่า PORT จาก .env
    container_name: SOS_System_express
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    restart: unless-stopped

networks:
  my-app:
    external: true
